<!--suppress AngularUndefinedBinding -->
<div fxLayout="row" fxLayoutAlign="center center">
  <button (click)="registerPatient()" class="add-button" color="primary" mat-raised-button>Добавить</button>
  <mat-form-field>
    <mat-label>Поиск</mat-label>
    <input (keyup)="applyFilter($event)" matInput placeholder="Попробуй найти что-нибудь">
  </mat-form-field>
</div>

<div>
  <table [dataSource]="dataSource"
         mat-table
         matSort
         matSortActive="patientId"
         matSortDirection="asc"
         matSortDisableClear
         multiTemplateDataRows>

    <ng-container matColumnDef="patientId">
      <th *matHeaderCellDef mat-sort-header>№</th>
      <td *matCellDef="let patient" mat-cell> {{patient.patientId}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th *matHeaderCellDef mat-sort-header>Фамилия</th>
      <td *matCellDef="let patient" mat-cell> {{patient.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th *matHeaderCellDef mat-sort-header>Имя</th>
      <td *matCellDef="let patient" mat-cell> {{patient.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="secondName">
      <th *matHeaderCellDef mat-sort-header>Отчество</th>
      <td *matCellDef="let patient" mat-cell> {{patient.secondName}} </td>
    </ng-container>

    <ng-container matColumnDef="sex">
      <th *matHeaderCellDef mat-sort-header>Пол</th>
      <td *matCellDef="let patient" mat-cell> {{patient.sex | sexPipe}} </td>
    </ng-container>

    <ng-container matColumnDef="birthday">
      <th *matHeaderCellDef mat-sort-header>День рождения</th>
      <td *matCellDef="let patient" mat-cell> {{patient.birthday}} </td>
    </ng-container>

    <ng-container matColumnDef="policy">
      <th *matHeaderCellDef mat-sort-header>Полис</th>
      <td *matCellDef="let patient" mat-cell> {{patient.policy}} </td>
    </ng-container>

    <ng-container matColumnDef="serialPassport">
      <th *matHeaderCellDef mat-sort-header>Серия паспорта</th>
      <td *matCellDef="let patient" mat-cell> {{patient.serialPassport}} </td>
    </ng-container>

    <ng-container matColumnDef="numberPassport">
      <th *matHeaderCellDef mat-sort-header>День рождения</th>
      <td *matCellDef="let patient" mat-cell> {{patient.numberPassport}} </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td *matCellDef="let element" [attr.colspan]="displayColumns.length" mat-cell>
        <div [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
             class="example-element-detail">
          <div fxLayout="column">
            <div class="main-info">
              <button (click)="delete(element)" class="divide" color="primary" mat-raised-button>Удалить</button>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayColumns" mat-header-row></tr>
    <tr (click)="expandedElement = expandedElement === element ? null : element"
        *matRowDef="let element; columns: displayColumns;"
        [class.example-expanded-row]="expandedElement === element"
        class="example-element-row"
        mat-row>
    </tr>
    <tr *matRowDef="let row; columns: ['expandedDetail'];" class="example-detail-row" mat-row></tr>
  </table>
</div>
