<mat-toolbar class="mat-elevation-z4" color="primary">
  <button mat-icon-button routerLink="/">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-button routerLink="/appointments/add">
    Добавить новый прием
  </button>
  <button mat-button routerLink="/appointments">
    Список приемов
  </button>
  <button mat-button>
    Список врачей
  </button>
  <button mat-button>
    Список пациентов
  </button>
  <button mat-button>
    Список диагнозов
  </button>
  <button mat-button>
    Список лекарств
  </button>
  <div class="fill"></div>
</mat-toolbar>
