<mat-horizontal-stepper #stepper linear="linear">
  <mat-step [stepControl]="form">
    <ng-template matStepLabel>Введите основные данные</ng-template>
    <div class="register" fxLayout fxLayoutAlign="center center">
      <form [formGroup]="form" class="form">
        <div fxLayout="column">
          <mat-form-field>
            <mat-label>Пациент</mat-label>
            <input [matAutocomplete]="auto1"
                   formControlName="patient"
                   matInput
                   required>
            <button (click)="clearPatientButton()"
                    mat-icon-button
                    matSuffix>
              <mat-icon>{{'highlight_off'}}</mat-icon>
            </button>
            <mat-autocomplete #auto1
                              (optionSelected)="selectPatient($event)"
                              [displayWith]="getOptionText"
                              class="mat-autocomplete-panel">
              <mat-option *ngFor="let patient of filteredPatientOptions | async" [value]="patient">
                <span>{{patient.lastName + ' ' + patient.firstName + ' ' + patient.secondName}}</span> |
                <small>{{patient.birthday}}, {{patient.serialPassport + ' ' + patient.numberPassport}}</small>
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="form.get('patient').hasError('objectNotSet')"
            >{{form.get('patient').getError('objectNotSet')}}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Доктор</mat-label>
            <input [matAutocomplete]="auto2"
                   formControlName="doctor"
                   matInput
                   required>
            <button (click)="clearDoctorButton()"
                    mat-icon-button
                    matSuffix>
              <mat-icon>{{'highlight_off'}}</mat-icon>
            </button>
            <mat-autocomplete #auto2
                              (optionSelected)="selectDoctor($event)"
                              [displayWith]="getOptionText"
                              class="mat-autocomplete-panel">
              <mat-option *ngFor="let doctor of filteredDoctorOptions | async" [value]="doctor">
                <span>{{doctor.lastName + ' ' + doctor.firstName + ' ' + doctor.secondName}}</span>
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="form.get('doctor').hasError('objectNotSet')"
            >{{form.get('doctor').getError('objectNotSet')}}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Место приема</mat-label>
            <input formControlName="place"
                   matInput
                   required>
            <mat-error *ngIf="form.get('place').hasError('required')"
            >Необходимо указать место приема
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Дата приема</mat-label>
            <input formControlName="date" matInput placeholder="start date" type="datetime-local">
            <mat-error *ngIf="form.get('date').hasError('required')"
            >Необходимо указать дату приема
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Симптомы</mat-label>
            <input formControlName="symptoms" matInput>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <button [disabled]="!form.valid"
                  class="center-button"
                  color="primary"
                  mat-flat-button
                  matStepperNext
          >Далее
          </button>
        </div>
      </form>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Выберите диагнозы</ng-template>
    <app-diagnosis-table-for-appointment
      (selectedDiagnoses)="fillSelectedDiagnoses($event)"></app-diagnosis-table-for-appointment>
    <div class="ident" fxLayout="row" fxLayoutAlign="center">
      <button class="center-button"
              color="primary"
              mat-flat-button
              matStepperNext
      >Далее
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Выберите лекарства</ng-template>
    <app-drug-table-for-appointment (selectedDrugs)="fillSelectedDrugs($event)"></app-drug-table-for-appointment>
    <div class="ident" fxLayout="row" fxLayoutAlign="center">
      <button (click)="register(form.value)"
              class="center-button"
              color="primary"
              mat-flat-button
              matStepperNext
      >Далее
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Готово</ng-template>
    <div fxLayout="column" fxLayoutAlign="center">
      <p>Прием зарегистрирован!</p>
      <button color="primary"
              mat-flat-button
              routerLink="/">
        Вернуться на главную страницу
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
