<!--suppress AngularUndefinedBinding -->
<div fxLayout="row" fxLayoutAlign="center center">
  <div class="add-button" fxLayout="row" fxLayoutGap="5px">
    <button (click)="createDialog()" color="primary" mat-raised-button>Добавить</button>
    <button (click)="exportToExcel()" color="primary" mat-raised-button>Экспорт</button>
  </div>

  <mat-form-field>
    <mat-label>Поиск</mat-label>
    <input (keyup)="applyFilter($event)" matInput placeholder="Попробуй найти что-нибудь">
  </mat-form-field>
</div>

<div>
  <table [dataSource]="dataSource"
         mat-table
         matSort
         matSortActive="diagnosisId"
         matSortDirection="asc"
         matSortDisableClear
         multiTemplateDataRows>

    <ng-container matColumnDef="diagnosisId">
      <th *matHeaderCellDef mat-sort-header>№</th>
      <td *matCellDef="let diagnosis" mat-cell> {{diagnosis.diagnosisId}} </td>
    </ng-container>

    <ng-container matColumnDef="diagnosisName">
      <th *matHeaderCellDef mat-sort-header>Имя</th>
      <td *matCellDef="let diagnosis" mat-cell> {{diagnosis.diagnosisName}} </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <td *matCellDef="let element" [attr.colspan]="displayColumns.length" mat-cell>
        <div [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
             class="example-element-detail">
          <div fxLayout="column">
            <div class="main-info">
              <button (click)="updateDialog(element)" class="divide" color="primary" mat-raised-button>Изменить</button>
              <button (click)="delete(element)" class="divide" color="primary" mat-raised-button>Удалить</button>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayColumns" mat-header-row></tr>
    <tr (click)="expandedElement = expandedElement === element ? null : element"
        *matRowDef="let element; columns: displayColumns;"
        [class.example-expanded-row]="expandedElement === element"
        class="example-element-row"
        mat-row>
    </tr>
    <tr *matRowDef="let row; columns: ['expandedDetail'];" class="example-detail-row" mat-row></tr>
  </table>
</div>
