<!--suppress AngularUndefinedBinding -->

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input (keyup)="applyFilter($event)" matInput placeholder="Search">
</mat-form-field>

<div>
  <table [dataSource]="dataSource" mat-table matSort>

    <ng-container matColumnDef="appointmentId">
      <th *matHeaderCellDef mat-sort-header>№</th>
      <td *matCellDef="let complicatedAppointment" mat-cell> {{complicatedAppointment.appointmentId}} </td>
    </ng-container>

    <ng-container matColumnDef="patient">
      <th *matHeaderCellDef mat-sort-header>Пациент</th>
      <td *matCellDef="let complicatedAppointment" mat-cell> {{complicatedAppointment.patient.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="doctor">
      <th *matHeaderCellDef mat-sort-header>Доктор</th>
      <td *matCellDef="let complicatedAppointment" mat-cell> {{complicatedAppointment.doctor.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="place">
      <th *matHeaderCellDef mat-sort-header>Место</th>
      <td *matCellDef="let complicatedAppointment" mat-cell> {{complicatedAppointment.place}} </td>
    </ng-container>

    <ng-container matColumnDef="appointmentDate">
      <th *matHeaderCellDef mat-sort-header>Дата</th>
      <td *matCellDef="let complicatedAppointment" mat-cell> {{complicatedAppointment.appointmentDate}} </td>
    </ng-container>

    <ng-container matColumnDef="symptoms">
      <th *matHeaderCellDef mat-sort-header>Симптомы</th>
      <td *matCellDef="let complicatedAppointment" mat-cell> {{complicatedAppointment.symptoms}} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayColumns;" mat-row></tr>
  </table>
</div>
