<!--suppress AngularUndefinedBinding -->

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input (keyup)="applyFilter($event)" matInput placeholder="Search">
</mat-form-field>

<div>
  <table [dataSource]="dataSource"
         mat-table
         matSort
         matSortActive="appointmentId"
         matSortDirection="asc"
         matSortDisableClear
         multiTemplateDataRows>

    <ng-container matColumnDef="appointmentId">
      <th *matHeaderCellDef mat-sort-header>№</th>
      <td *matCellDef="let complicatedAppointment" mat-cell>{{complicatedAppointment.appointmentId}}</td>
    </ng-container>

    <ng-container matColumnDef="patient">
      <th *matHeaderCellDef mat-sort-header>Пациент</th>
      <td *matCellDef="let complicatedAppointment" mat-cell>
        {{complicatedAppointment.patient.lastName}} {{complicatedAppointment.patient.firstName.charAt(0)}}
        .{{complicatedAppointment.patient.secondName.charAt(0)}}.
      </td>
    </ng-container>

    <ng-container matColumnDef="doctor">
      <th *matHeaderCellDef mat-sort-header>Доктор</th>
      <td *matCellDef="let complicatedAppointment" mat-cell>
        {{complicatedAppointment.doctor.lastName}} {{complicatedAppointment.doctor.firstName.charAt(0)}}
        .{{complicatedAppointment.doctor.secondName.charAt(0)}}.
      </td>
    </ng-container>

    <ng-container matColumnDef="place">
      <th *matHeaderCellDef mat-sort-header>Место</th>
      <td *matCellDef="let complicatedAppointment" mat-cell>{{complicatedAppointment.place}}</td>
    </ng-container>

    <ng-container matColumnDef="appointmentDate">
      <th *matHeaderCellDef mat-sort-header>Дата</th>
      <td *matCellDef="let complicatedAppointment" mat-cell>{{complicatedAppointment.appointmentDate}}</td>
    </ng-container>

    <ng-container matColumnDef="symptoms">
      <th *matHeaderCellDef mat-sort-header>Симптомы</th>
      <td *matCellDef="let complicatedAppointment" mat-cell>{{complicatedAppointment.symptoms}}</td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td *matCellDef="let element" [attr.colspan]="displayColumns.length" mat-cell>
        <div [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
             class="example-element-detail">
          <div fxLayout="column">
            <div class="main-info">
              <table>
                <caption>Выставленные диагнозы</caption>
                <tr>
                  <th mat-header-cell="id">id</th>
                  <th mat-header-cell="name">Название</th>
                </tr>
                <tr *ngFor="let diagnosis of element.diagnoses">
                  <td>{{diagnosis.diagnosisId}}</td>
                  <td>{{diagnosis.diagnosisName}}</td>
                </tr>
              </table>
              <table style="margin-top: 20px">
                <caption>Выписанные лекарства</caption>
                <tr>
                  <th mat-header-cell="id">id</th>
                  <th mat-header-cell="name">Название</th>
                  <th mat-header-cell="methodOfTaking">Способ приема</th>
                  <th mat-header-cell="dosage">Дозировка</th>
                  <th mat-header-cell="descriptionOfAction">Описание действия</th>
                  <th mat-header-cell="sideEffects">Побочные эффекты</th>
                </tr>
                <tr *ngFor="let drug of element.drugs">
                  <td>{{drug.drugId}}</td>
                  <td>{{drug.name}}</td>
                  <td>{{drug.methodOfTaking}}</td>
                  <td>{{drug.dosage}}</td>
                  <td>{{drug.descriptionOfAction}}</td>
                  <td>{{drug.sideEffects}}</td>
                </tr>
              </table>
            </div>
            <div class="divide" fxLayout="row" fxLayoutGap="10px">
              <button color="primary" mat-raised-button routerLink="/patients/{{element.patient.id}}">Больше о
                пациенте
              </button>
              <button color="primary" mat-raised-button routerLink="/doctors/{{element.doctor.id}}">Больше о докторе
              </button>
              <button (click)="deleteAppointment(element)" color="primary" mat-raised-button>Удалить</button>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayColumns" mat-header-row></tr>
    <tr (click)="expandedElement = expandedElement === element ? null : element"
        *matRowDef="let element; columns: displayColumns;"
        [class.example-expanded-row]="expandedElement === element"
        class="example-element-row"
        mat-row>
    </tr>
    <tr *matRowDef="let row; columns: ['expandedDetail'];" class="example-detail-row" mat-row></tr>
  </table>
</div>
